USE [eSoftLogix2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/22/2020 11:49:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GL_CHART_OF_ACCOUNTs]    Script Date: 8/22/2020 11:49:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_CHART_OF_ACCOUNTs](
	[CONTROL_ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTROL_ACCOUNT_CODE] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [int] NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NULL,
	[RECORD_LEVEL] [int] NULL,
	[GL_C_ACCOUNT_id] [int] NOT NULL,
 CONSTRAINT [PK_GL_CHART_OF_ACCOUNTs] PRIMARY KEY CLUSTERED 
(
	[CONTROL_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GL_CONTROL_ACCOUNTs]    Script Date: 8/22/2020 11:49:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GL_CONTROL_ACCOUNTs](
	[CHART_OF_ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHART_OF_ACCOUNT_CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NOT NULL,
	[PARENT_CONTROL_ACCOUNT_ID] [int] NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [int] NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NULL,
	[SEGMENT1] [nvarchar](250) NULL,
	[FOR_COST_CENTER] [nvarchar](50) NULL,
	[SUB_ACCOUNT_CODE] [nvarchar](50) NULL,
	[FOR_PROJECTS] [nvarchar](50) NULL,
	[NOTES] [int] NULL,
	[BS_DR_ACC_ID] [int] NULL,
	[BS_CR_ACC_ID] [int] NULL,
	[IN_ACTIVE] [int] NULL,
	[Lavel] [int] NULL,
 CONSTRAINT [PK_GL_CONTROL_ACCOUNTs] PRIMARY KEY CLUSTERED 
(
	[CHART_OF_ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200817174433_initial', N'2.2.6-servicing-10079')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200819105206_removeparentfromdhart', N'2.2.6-servicing-10079')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200820105430_Add-Lavel-Attribute', N'2.2.6-servicing-10079')
SET IDENTITY_INSERT [dbo].[GL_CHART_OF_ACCOUNTs] ON 

INSERT [dbo].[GL_CHART_OF_ACCOUNTs] ([CONTROL_ACCOUNT_ID], [CONTROL_ACCOUNT_CODE], [DESCRIPTION], [CREATED_BY], [CREATION_DATE], [LAST_UPDATED_BY], [LAST_UPDATE_DATE], [RECORD_LEVEL], [GL_C_ACCOUNT_id]) VALUES (60, N'10101001', N'mmmmkkk', 1, CAST(N'2020-08-21T20:08:52.5260755' AS DateTime2), NULL, NULL, NULL, 72)
INSERT [dbo].[GL_CHART_OF_ACCOUNTs] ([CONTROL_ACCOUNT_ID], [CONTROL_ACCOUNT_CODE], [DESCRIPTION], [CREATED_BY], [CREATION_DATE], [LAST_UPDATED_BY], [LAST_UPDATE_DATE], [RECORD_LEVEL], [GL_C_ACCOUNT_id]) VALUES (68, N'50101001', N'sjdflksflfsf', 1, CAST(N'2020-08-22T10:57:06.6967675' AS DateTime2), NULL, NULL, NULL, 112)
INSERT [dbo].[GL_CHART_OF_ACCOUNTs] ([CONTROL_ACCOUNT_ID], [CONTROL_ACCOUNT_CODE], [DESCRIPTION], [CREATED_BY], [CREATION_DATE], [LAST_UPDATED_BY], [LAST_UPDATE_DATE], [RECORD_LEVEL], [GL_C_ACCOUNT_id]) VALUES (69, N'50101002', N'mnmjljkl', 1, CAST(N'2020-08-22T10:57:35.9599079' AS DateTime2), NULL, NULL, NULL, 112)
SET IDENTITY_INSERT [dbo].[GL_CHART_OF_ACCOUNTs] OFF
SET IDENTITY_INSERT [dbo].[GL_CONTROL_ACCOUNTs] ON 

INSERT [dbo].[GL_CONTROL_ACCOUNTs] ([CHART_OF_ACCOUNT_ID], [CHART_OF_ACCOUNT_CODE], [DESCRIPTION], [PARENT_CONTROL_ACCOUNT_ID], [CREATED_BY], [CREATION_DATE], [LAST_UPDATED_BY], [LAST_UPDATE_DATE], [SEGMENT1], [FOR_COST_CENTER], [SUB_ACCOUNT_CODE], [FOR_PROJECTS], [NOTES], [BS_DR_ACC_ID], [BS_CR_ACC_ID], [IN_ACTIVE], [Lavel]) VALUES (1, N'1', N'CAPITAL', 0, 1, CAST(N'2010-11-11T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[GL_CONTROL_ACCOUNTs] ([CHART_OF_ACCOUNT_ID], [CHART_OF_ACCOUNT_CODE], [DESCRIPTION], [PARENT_CONTROL_ACCOUNT_ID], [CREATED_BY], [CREATION_DATE], [LAST_UPDATED_BY], [LAST_UPDATE_DATE], [SEGMENT1], [FOR_COST_CENTER], [SUB_ACCOUNT_CODE], [FOR_PROJECTS], [NOTES], [BS_DR_ACC_ID], [BS_CR_ACC_ID], [IN_ACTIVE], [Lavel]) VALUES (3, N'2', N'PROPERTY', 0, 1, CAST(N'1012-12-12T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[GL_CONTROL_ACCOUNTs] ([CHART_OF_ACCOUNT_ID], [CHART_OF_ACCOUNT_CODE], [DESCRIPTION], [PARENT_CONTROL_ACCOUNT_ID], [CREATED_BY], [CREATION_DATE], [LAST_UPDATED_BY], [LAST_UPDATE_DATE], [SEGMENT1], [FOR_COST_CENTER], [SUB_ACCOUNT_CODE], [FOR_PROJECTS], [NOTES], [BS_DR_ACC_ID], [BS_CR_ACC_ID], [IN_ACTIVE], [Lavel]) VALUES (63, N'3', N'Libalites', 0, 1, CAST(N'2020-08-21T16:07:05.5078503' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GL_CONTROL_ACCOUNTs] OFF
ALTER TABLE [dbo].[GL_CHART_OF_ACCOUNTs]  WITH CHECK ADD  CONSTRAINT [FK_GL_CHART_OF_ACCOUNTs_GL_CONTROL_ACCOUNTs_GL_C_ACCOUNT_id] FOREIGN KEY([GL_C_ACCOUNT_id])
REFERENCES [dbo].[GL_CONTROL_ACCOUNTs] ([CHART_OF_ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GL_CHART_OF_ACCOUNTs] CHECK CONSTRAINT [FK_GL_CHART_OF_ACCOUNTs_GL_CONTROL_ACCOUNTs_GL_C_ACCOUNT_id]
GO
