@using Task_111.Models
@model GL_CONTROL_ACCOUNTS

<form asp-controller="ChartOfAccount" asp-action="AddControl" method="post">
    <input type="hidden" name="id" value="@Model.CHART_OF_ACCOUNT_ID" />
    <div class="form-group">
        <input type="text" placeholder="Account Discription" name="desc" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>

