@using Task_111.Models
@model GL_CHART_OF_ACCOUNTS
@{
    ViewData["Title"] = "AddChild";
}

<h1>AddChild</h1>



@section Scripts{


    <script type="text/javascript">

        $(document).ready(function () {

            $("#myModal4").modal();

        })
    </script>

}